.catagories-selector {
  background-color: rgba($primary, 0.2);
  border-radius: 0.2rem;
  overflow: hidden;

  &__cell {
    width: 120px;
    height: 100px;
    text-align: center;
    color: #5c6561;
    cursor: pointer;
    transition: all 0.2s;
    &--selected {
      background-color: #00dd80;
      border-radius: 1rem;
      cursor: default;
    }

    &:hover:not(&--selected) {
      background-color: rgba($primary, 0.2);
      border-radius: 1rem;
    }
  }
}
