/* import muli font family */
@import url('https://use.typekit.net/doy3sqb.css');

/* Reset */
:root {
  $primary: #00dd80;
  $defualt-text: #5c6561;
}

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:link,
*:visited,
a {
  color: $white;
  text-decoration: none;
}

html {
}

body {
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: normal;
  min-height: 100vh;

  box-sizing: border-box;
  min-height: 100vh;
  @include respond(tab-port) {
    max-width: 100%;
  }
  margin: 0 auto;
}

.ex-container {
  height: 204px;
  overflow: hidden;
}
.icon-1 {
  position: absolute !important;
  left: 350px !important;
  top: 20px !important;
  opacity: 0.2;
}

.icon-2 {
  position: absolute !important;
  left: 30px !important;
  bottom: 20px !important;
  opacity: 0.2;
}

.icon-3 {
  position: absolute !important;
  left: 800px !important;
  bottom: -20px !important;
  opacity: 0.2;
}

.icon-4 {
  position: absolute !important;
  left: 1000px !important;
  top: -35px !important;
  opacity: 0.2;
}
